<h1> Common Data Types </h1>


| Data Type               | Examples                                     |
|-------------------------|----------------------------------------------|
| **Integers**             | -2, -1, 0, 1, 2, 3, 4, 5                    |
| **Floating-point numbers** | -1.25, -1.0, -0.5, 0.0, 0.5, 1.0, 1.25     |
| **Strings**              | 'a', 'aa', 'aaa', 'Namaskar!', 'Hello!!'       |

3

# Math Operators from Highest to Lowest Precedence


| Operator | Operation                | Example   | Evaluates to... |
|----------|--------------------------|-----------|-----------------|
| `**`    | Exponent                 | 2 ** 3    | 8               |
| `%`      | Modulus/remainder        | 22 % 8    | 6               |
| `//`     | Integer division/floored quotient | 22 // 8 | 2         |
| `/`      | Division                 | 22 / 8    | 2.75            |
| `*`      | Multiplication           | 3 * 5     | 15              |
| `-`      | Subtraction              | 5 - 2     | 3               |
| `+`      | Addition                 | 2 + 2     | 4               |

# String Concatenation and Replication in Python



| Operation | Example              | Result         | Description                                        |
|-----------|----------------------|----------------|----------------------------------------------------|
| `+`       | `'Hello' + ' ' + 'World'` | `'Hello World'` | Concatenates two or more strings                    |
| `*`       | `'Hello' * 3          ` | `'HelloHelloHello'` | Replicates the string a given number of times     |
| `*`       | `'abc' * 0            ` | `''`            | Replication results in an empty string when the multiplier is 0 |

# Storing Values in Variables and Assignment Statements



| **Statement**                | **Explanation**                                          | **Result**                       |
|------------------------------|----------------------------------------------------------|----------------------------------|
| `x = 10`                     | Assigns the value `10` to the variable `x`               | `x` holds the value `10`         |
| `name = 'Siddarth'`              | Assigns the string `'Siddarth'` to the variable `name`      | `name` holds the string `'Siddarth'`|
| `balance = 1000.75`           | Assigns the floating-point value `1000.75` to `balance`  | `balance` holds `1000.75`        |
| `is_active = True`            | Assigns the boolean value `True` to `is_active`          | `is_active` holds `True`         |
| `x, y = 5, 10`                | Multiple assignment: `x` gets `5`, `y` gets `10`         | `x` holds `5`, `y` holds `10`    |
| `a = b = c = 3`               | Chained assignment: assigns `3` to `a`, `b`, and `c`     | `a`, `b`, and `c` all hold `3`   |

# Valid and Invalid Variable Names



| **Valid Variable Names**  | **Invalid Variable Names**             |
|---------------------------|----------------------------------------|
| `balance`                 | `current-balance` (hyphens are not allowed)  |
| `currentBalance`          | `current balance` (spaces are not allowed)  |
| `current_balance`         | `4account` (can’t begin with a number)     |
| `_spam`                   | `42` (can’t begin with a number)           |
| `SPAM`                    | `total_$um` (special characters like `$` are not allowed) |
| `account4`                | `'hello'` (special characters like `'` are not allowed) |

# The `print()` Function in Python



| **Functionality**                  | **Example**                                              | **Explanation**                                          |
|------------------------------------|----------------------------------------------------------|----------------------------------------------------------|
| **Printing a simple string**       | `print("Hello, World!")`                                 | Prints a string to the console.                           |
| **Printing multiple items**        | `name = "Siddarth"; age = 25; print(name, age)`              | Prints multiple variables with a space between them.      |
| **Using `sep` to separate items**  | `print("Apple", "Banana", "Cherry", sep=" ")`            | Custom separator (`sep`) between printed items.          |
| **Using `end` to modify output end** | `print("Hello", end="...")`                              | Changes what is printed after the last item (default is newline). |
| **Formatted string with `f-string`**| `name = "Siddarth"; age = 25; print(f"Name: {name}, Age: {age}")` | Prints variables inside a string using f-strings.         |

# The `input()` Function in Python



| **Functionality**                  | **Example**                                                   | **Explanation**                                          |
|------------------------------------|---------------------------------------------------------------|----------------------------------------------------------|
| **Getting simple input**           | `user_input = input("Enter your name: ")`                     | Prompts the user for input and stores it as a string.    |
| **Converting input to integer**    | `age = int(input("Enter your age: "))`                        | Converts the input string to an integer.                 |
| **Multiple inputs on one line**    | `name, age = input("Enter name and age: ").split()`           | Splits a single input into multiple variables.           |

# The `len()` Function in Python



| **Functionality**                     | **Example**                                            | **Explanation**                                             |
|---------------------------------------|--------------------------------------------------------|-------------------------------------------------------------|
| **Getting the length of a string**    | `text = "Hello, World!"; len(text)`                    | Returns the number of characters in the string.              |
| **Getting the number of elements in a list** | `numbers = [1, 2, 3, 4, 5]; len(numbers)`        | Returns the number of elements in the list.                  |
| **Checking if a list is empty**      | `items = []; len(items)`                               | Returns 0 if the list is empty.                             |
| **Getting the number of key-value pairs in a dictionary** | `student = {"name": "Alice", "age": 25}; len(student)` | Returns the number of key-value pairs in the dictionary.     |
| **Getting the number of elements in a tuple** | `coordinates = (10, 20, 30); len(coordinates)`        | Returns the number of elements in the tuple.                 |
| **Using `len()` on an empty structure** | `empty_string = ""; len(empty_string)`                 | Returns 0 for empty strings, lists, tuples, etc.             |

# The `str()`, `int()`, and `float()` Functions in Python



| **Function** | **Purpose**                                    | **Example**                                             | **Explanation**                                           |
|--------------|------------------------------------------------|---------------------------------------------------------|-----------------------------------------------------------|
| **`str()`**  | Converts an object to a string.                | `num = 123; str_num = str(num)`                          | Converts the integer `123` to the string `"123"`.         |
| **`int()`**  | Converts a value to an integer.                | `str_num = "123"; num = int(str_num)`                    | Converts the string `"123"` to the integer `123`.         |
|              |                                                | `float_num = 3.99; int_num = int(float_num)`             | Converts the float `3.99` to the integer `3` (truncates the decimal). |
| **`float()`**| Converts a value to a floating-point number.   | `str_num = "3.14"; float_num = float(str_num)`           | Converts the string `"3.14"` to the float `3.14`.          |
|              |                                                | `num = 10; float_num = float(num)`                       | Converts the integer `10` to the float `10.0`.            |
|              |                                                | `sci_num = "1.23e4"; float_num = float(sci_num)`         | Converts the scientific notation string `"1.23e4"` to the float `12300.0`. |

# ERRORS ARE OKAY!

<b> 1. This is a grammatically correct English sentence. <br>
2. This grammatically is sentence not English correct a. </b>

# Python Basics with Examples

### Data Types

In [1]:
# Examples of data types
integer_var = 10
float_var = 3.14
string_var = "Hello, Python!"
boolean_var = True

print(f"integer_var: {integer_var} (Type: {type(integer_var)})")
print(f"float_var: {float_var} (Type: {type(float_var)})")
print(f"string_var: '{string_var}' (Type: {type(string_var)})")
print(f"boolean_var: {boolean_var} (Type: {type(boolean_var)})")

integer_var: 10 (Type: <class 'int'>)
float_var: 3.14 (Type: <class 'float'>)
string_var: 'Hello, Python!' (Type: <class 'str'>)
boolean_var: True (Type: <class 'bool'>)

###